body {
    display: flex;
    background: gray;
    align-items: center;
    flex-direction: column;
}

#terminal-box {
    display: inline-block;
    background: black;
    color: whitesmoke;
    width: 50vw;
    height: 50vh;
    padding: 5px;
    border: 2px whitesmoke solid;
}

#playerStatus {
    display: none;
}

form {
    align-content: center;
}

p {
    font-size: 24px;
}

input {
    height: 24px;
}